* {
  margin: 0;
}
#logo {
  width: 70px;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}
a {
  color: black;
  text-decoration: none;
}
.coches {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
@media(max-width: 500px) {
  .coches {
    flex-direction: column;
    align-items: center;
  }
  .coches2 {
    padding: 20px;
  }
}
#titulo-categoria {
  padding-top: 50px;
  text-align: center;
  text-decoration: underline;
  text-transform: uppercase;
}
.categories {
  margin-top: 30px;
  display: flex;
}
#foto-categoria {
  width: 310px;
}
@media(min-width: 932px) {
  #foto-categoria {
    width: 100%;
  }
}
#titulo-categorias {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}
@media(max-width: 920px) {
  .categories {
    flex-direction: column;
  }
  #foto-categoria {
    width: 100%;
  }
  .resultados-busqueda {
    display: flex;
    flex-direction: column;
  }
  .div-todo {
    flex-direction: column;
  }
}
.div-todo {
  display: flex;
}

#buscador {
  margin-top: 5px;
  height: 30px;
}
#boton-buscador {
  margin-top: 8px;
  height: 30px;
}
.resultados-busqueda {
  display: flex;
  flex-direction: column;
}
