* {
  margin: 0;
}
#logo {
  width: 70px;
}
nav {
  display: flex;
  justify-content: space-between;
  background-color: lightgray;
}
a {
  color: black;
  text-decoration: none;
  list-style: none;
}
.texto-coches {
  text-align: center;
}
.coches {
  padding: 30px;
}

#titulo-categoria {
  text-transform: uppercase;
  text-decoration: underline;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}
.categoria {
  padding: 50px;
}
.todos-coches {
  padding-top: 20px;
}
@media(min-width: 700px) {
  .todos-coches {
    padding-top: 20px;
    padding-left: 200px;
    padding-right: 200px;
  }
}
@media(min-width: 1090px) {
  .todos-coches {
    padding-top: 20px;
    padding-left: 400px;
    padding-right: 400px;
  }
}
@media(min-width: 2000px) {
  .todos-coches {
    padding-top: 20px;
    padding-left: 1200px;
    padding-right: 1200px;
  }
}
.carousel {
  padding: 50px;
}
@media(min-width: 700px) {
  .carousel {
    padding-left: 140px;
    padding-right: 140px;
  }
}
@media(min-width: 1090) {
  .carousel {
    padding-left: 280px;
    padding-right: 280px;
  }
}
@media(min-width: 2000px) {
  .carousel {
    padding-left: 700px;
    padding-right: 700px;
  }
}
.detalles {
  text-align: center;
}
#precio {
  color: red;
  margin-top: 40px;
  margin-bottom: 60px;
}
#descrpcion-detalles {
  margin-top: 20px;
  margin-bottom: 60px;
}
#descrpcion-detalles-titulo {
  margin-top: 60px;
  text-decoration: underline;
}
#empezar {
  padding-right: 20px;
}
.categories {
  justify-content: center;
}
.detalles {
  margin-top: 40px;
}
.info-principal {
  margin-top: 40px;
}
#pregunta-de {
  font-size: 15px;
}
#name-favorites {
  color: black;
  margin-top: 30px;
}
.favoritos {
  margin-top: 50px;
  text-align: center;
}
#titulo-favoritos {
  text-align: center;
  margin-top: 50px;
}
.lista-categorias {
  text-align: center;
  margin-top: 30px;
}
.no-encontrado {
  margin-top: 60px;
  text-align: center;
}
#descripcion-noencontrado {
  margin-top: 30px;
}
.server-error {
  margin-top: 60px;
  text-align: center;
}
#descripcion-server {
  margin-top: 30px;
}
#precio-home {
  color: red;
}